<a href="https://colab.research.google.com/github/melinalessa/Insight_Vendas_Casas/blob/main/Insight_Vendas_Casas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:

#ADD BIBLIOTECAS

import numpy as np
import pandas as pd

import matplotlib as mpl
import matplotlib.pyplot as plt

import seaborn as sns
import seaborn.objects as so

#Importar banco de dados
df = pd.read_csv('/content/drive/MyDrive/DEV/Insight_Vendas_Casas/kc_house_data.csv')
print(df)

               id             date     price  bedrooms  bathrooms  \
0      7129300520  20141013T000000  221900.0         3       1.00
1      6414100192  20141209T000000  538000.0         3       2.25
2      5631500400  20150225T000000  180000.0         2       1.00
3      2487200875  20141209T000000  604000.0         4       3.00
4      1954400510  20150218T000000  510000.0         3       2.00
...           ...              ...       ...       ...        ...
21608   263000018  20140521T000000  360000.0         3       2.50
21609  6600060120  20150223T000000  400000.0         4       2.50
21610  1523300141  20140623T000000  402101.0         2       0.75
21611   291310100  20150116T000000  400000.0         3       2.50
21612  1523300157  20141015T000000  325000.0         2       0.75

       sqft_living  sqft_lot  floors  waterfront  view  ...  grade  \
0             1180      5650     1.0           0     0  ...      7
1             2570      7242     2.0           0     0  ...      7
2              770     10000     1.0           0     0  ...      6
3             1960      5000     1.0           0     0  ...      7
4             1680      8080     1.0           0     0  ...      8
...            ...       ...     ...         ...   ...  ...    ...
21608         1530      1131     3.0           0     0  ...      8
21609         2310      5813     2.0           0     0  ...      8
21610         1020      1350     2.0           0     0  ...      7
21611         1600      2388     2.0           0     0  ...      8
21612         1020      1076     2.0           0     0  ...      7

       sqft_above  sqft_basement  yr_built  yr_renovated  zipcode      lat  \
0            1180              0      1955             0    98178  47.5112
1            2170            400      1951          1991    98125  47.7210
2             770              0      1933             0    98028  47.7379
3            1050            910      1965             0    98136  47.5208
4            1680              0      1987             0    98074  47.6168
...           ...            ...       ...           ...      ...      ...
21608        1530              0      2009             0    98103  47.6993
21609        2310              0      2014             0    98146  47.5107
21610        1020              0      2009             0    98144  47.5944
21611        1600              0      2004             0    98027  47.5345
21612        1020              0      2008             0    98144  47.5941

          long  sqft_living15  sqft_lot15
0     -122.257           1340        5650
1     -122.319           1690        7639
2     -122.233           2720        8062
3     -122.393           1360        5000
4     -122.045           1800        7503
...        ...            ...         ...
21608 -122.346           1530        1509
21609 -122.362           1830        7200
21610 -122.299           1020        2007
21611 -122.069           1410        1287
21612 -122.299           1020        1357

[21613 rows x 21 columns]

In [5]:

#Analisar nome das colunas
df.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [6]:
#Analisar as variaveis das colunas
print( df.dtypes )

id                 int64
date              object
price            float64
bedrooms           int64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
grade              int64
sqft_above         int64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
zipcode            int64
lat              float64
long             float64
sqft_living15      int64
sqft_lot15         int64
dtype: object

In [8]:
#Alteracao na data
df['date'] = pd.to_datetime( df['date'])

In [9]:
print( df.dtypes )

id                        int64
date             datetime64[ns]
price                   float64
bedrooms                  int64
bathrooms               float64
sqft_living               int64
sqft_lot                  int64
floors                  float64
waterfront                int64
view                      int64
condition                 int64
grade                     int64
sqft_above                int64
sqft_basement             int64
yr_built                  int64
yr_renovated              int64
zipcode                   int64
lat                     float64
long                    float64
sqft_living15             int64
sqft_lot15                int64
dtype: object

In [10]:
#Qual a data do imovel mais antigo no portfolio?
print( df.sort_values('date',ascending=True) )

               id       date      price  bedrooms  bathrooms  sqft_living  \
16768  5561000190 2014-05-02   437500.0         3       2.25         1970
9596    472000620 2014-05-02   790000.0         3       2.50         2600
9587   1024069009 2014-05-02   675000.0         5       2.50         2820
20602  7853361370 2014-05-02   555000.0         4       2.50         3310
11577  5056500260 2014-05-02   440000.0         4       2.25         2160
...           ...        ...        ...       ...        ...          ...
7898   1422700040 2015-05-14   183000.0         3       1.00         1170
928    8730000270 2015-05-14   359000.0         2       2.75         1370
5637   7923600250 2015-05-15   450000.0         5       2.00         1870
13053  5101400871 2015-05-24   445500.0         2       1.75         1390
16594  9106000005 2015-05-27  1310000.0         4       2.25         3750

       sqft_lot  floors  waterfront  view  ...  grade  sqft_above  \
16768     35100     2.0           0     0  ...      9        1970
9596       4750     1.0           0     0  ...      9        1700
9587      67518     2.0           0     0  ...      8        2820
20602      6500     2.0           0     0  ...      8        3310
11577      8119     1.0           0     0  ...      8        1080
...         ...     ...         ...   ...  ...    ...         ...
7898       7320     1.0           0     0  ...      7        1170
928        1140     2.0           0     0  ...      8        1080
5637       7344     1.5           0     0  ...      7        1870
13053      6670     1.0           0     0  ...      6         720
16594      5000     2.0           0     0  ...      8        2440

       sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
16768              0      1977             0    98027  47.4635 -121.991
9596             900      1951             0    98117  47.6833 -122.400
9587               0      1979             0    98029  47.5794 -122.025
20602              0      2012             0    98065  47.5150 -121.870
11577           1080      1966             0    98006  47.5443 -122.177
...              ...       ...           ...      ...      ...      ...
7898               0      1962             0    98188  47.4685 -122.282
928              290      2009             0    98133  47.7052 -122.343
5637               0      1960             0    98007  47.5951 -122.144
13053            670      1941             0    98115  47.6914 -122.308
16594           1310      1924             0    98115  47.6747 -122.303

       sqft_living15  sqft_lot15
16768           2340       35100
9596            2380        4750
9587            2820       48351
20602           2380        5000
11577           1850        9000
...              ...         ...
7898            2040        7320
928             1370        1090
5637            1870        7650
13053            920        6380
16594           2170        4590

[21613 rows x 21 columns]

In [14]:
#Quantos imóvies possuem o número máximo de andares?
print( df['floors'].unique() )

[1.  2.  1.5 3.  2.5 3.5]

In [12]:
print( df[df['floors'] == 3.5][['floors', 'id']] )

       floors          id
875       3.5  6306400140
10077     3.5  1972202010
11594     3.5  3180100023
14885     3.5  8673400177
15424     3.5  1702900664
18477     3.5  1346300150
20308     3.5  1972200426
20772     3.5  1972200428

In [16]:
#Criar uma classificação para os imóveis em ordem decrescente por valor. 
#Acima de R$ 540.000,00 - Alto padrão Abaixo de R$ 540.000,00 - Baixo padrão

#criacao de coluna
df['level'] = 'standart'

               id       date     price  bedrooms  bathrooms  sqft_living  \
0      7129300520 2014-10-13  221900.0         3       1.00         1180
1      6414100192 2014-12-09  538000.0         3       2.25         2570
2      5631500400 2015-02-25  180000.0         2       1.00          770
3      2487200875 2014-12-09  604000.0         4       3.00         1960
4      1954400510 2015-02-18  510000.0         3       2.00         1680
...           ...        ...       ...       ...        ...          ...
21608   263000018 2014-05-21  360000.0         3       2.50         1530
21609  6600060120 2015-02-23  400000.0         4       2.50         2310
21610  1523300141 2014-06-23  402101.0         2       0.75         1020
21611   291310100 2015-01-16  400000.0         3       2.50         1600
21612  1523300157 2014-10-15  325000.0         2       0.75         1020

       sqft_lot  floors  waterfront  view  ...  sqft_above  sqft_basement  \
0          5650     1.0           0     0  ...        1180              0
1          7242     2.0           0     0  ...        2170            400
2         10000     1.0           0     0  ...         770              0
3          5000     1.0           0     0  ...        1050            910
4          8080     1.0           0     0  ...        1680              0
...         ...     ...         ...   ...  ...         ...            ...
21608      1131     3.0           0     0  ...        1530              0
21609      5813     2.0           0     0  ...        2310              0
21610      1350     2.0           0     0  ...        1020              0
21611      2388     2.0           0     0  ...        1600              0
21612      1076     2.0           0     0  ...        1020              0

       yr_built  yr_renovated  zipcode      lat     long  sqft_living15  \
0          1955             0    98178  47.5112 -122.257           1340
1          1951          1991    98125  47.7210 -122.319           1690
2          1933             0    98028  47.7379 -122.233           2720
3          1965             0    98136  47.5208 -122.393           1360
4          1987             0    98074  47.6168 -122.045           1800
...         ...           ...      ...      ...      ...            ...
21608      2009             0    98103  47.6993 -122.346           1530
21609      2014             0    98146  47.5107 -122.362           1830
21610      2009             0    98144  47.5944 -122.299           1020
21611      2004             0    98027  47.5345 -122.069           1410
21612      2008             0    98144  47.5941 -122.299           1020

       sqft_lot15     level
0            5650  standart
1            7639  standart
2            8062  standart
3            5000  standart
4            7503  standart
...           ...       ...
21608        1509  standart
21609        7200  standart
21610        2007  standart
21611        1287  standart
21612        1357  standart

[21613 rows x 22 columns]

In [25]:
#classificar as casas em Premium & Standart de acordo com o valor de venda

df.loc[df['price'] > 540000, 'level'] = 'premium'
df.loc[df['price'] < 540000, 'level'] = 'standart'
print( df [['id', 'price', 'level']].head() )

           id     price     level
0  7129300520  221900.0  standart
1  6414100192  538000.0  standart
2  5631500400  180000.0  standart
3  2487200875  604000.0   premium
4  1954400510  510000.0  standart